body {
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}

.container {
    width: 1200px;
    background: white;
    margin-left: auto;
    margin-right: auto;
}

#content {
    margin-left: 50px;
}

#TalkTitle {
    line-height: 80px;
    height: 80px;
    width: 860px;
    background-color: azure;
}

#TalkTitle span {
    font-size: 35px;
    font-weight: bold;
}

#AllTalks span {
    font-size: 14px;
    color: red;
}

.Write {
    margin-left: 260px;
    cursor: pointer;
}

.Write :hover {
    color: red;
}

#Button {
    margin-left: 40px;
    width: 600px;
    line-height: 40px;
    margin-top: 20px;
    height: 40px;
    display: flex;
    background-color: azure;
}

#talk ul li {
    /*height: 20px;*/
    /*list-style-image: url("../image/sc5.png");*/
    font-size: 14px;
    list-style: none;
    color: red;
    /*text-decoration: none;*/
    /*background-image: url(../image/lineH_1.gif);*/
    /*background-position: 50% bottom;*/
    /*background-repeat: repeat-x;*/
}

#username {
    margin-left: 15px;
    margin-top: 5px;
}

#username .talkcontent {
    color: black;
}

#username .spanstyle {
    color: grey;
}

#content1 {
    background-color: azure;
    height: 450px;
}

#Name span {
    font-size: 35px;
    font-weight: bold;
}

#InsertBook {
    margin-top: 20px;
}

#InsertBook span {
    background-color: red;
    color: white;
    font-size: 20px;
    border: 1px solid darkred;
}

#Author {
    margin-top: 50px;
}

#Author span {
    font-size: 30px;
}

#AuthorName span {
    font-size: 20px;
}

.talkcontent a {
    text-decoration: none;
}

.response_a {
    color: grey;
    text-decoration: none;
}

.response_a:hover {
    color: red;
}

.other_like {
    text-decoration: none;
    color: black;
}

.other_like:visited {
    color: black;
}

.other_like:hover {
    color: red;
}

#book_name {
    text-decoration: none;
}

#book_name:hover {
    color: red;
}

#book_name:visited {
    color: black;
}

#butt {
    height: 30px;
    width: 70px;
    margin-top: 10px;
    margin-left: 600px;
    margin-bottom: 50px;
    background-color: orangered;
}

#butt1 {
    height: 30px;
    width: 70px;
    margin-top: 10px;
    margin-bottom: 50px;
    background-color: orangered;
}

.likes {
    color: grey;
    cursor: pointer
}

.likes :hover {
    color: red;
    cursor: pointer;
}

.like {
    font-size: 20px;
    /*color: #ccc;*/
    cursor: pointer;
}

#disappare {
    border: 3px solid #ccc;
    border-radius: 5px;
    background: #fff;
    font-size: 20px;
    width: 300px;
    height: 60px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -150px;
    text-align: center;
}

#disappare p {
    padding: 5px;
    font-size: 16px;
    color: red;
    text-align: center;
}

#content1 div a{
    text-decoration: none;
}

#content1 div a:hover{
    color: red;
}

#content1 div a:visited{
    color: black;
}