<!DOCTYPE html>
<html>
<head>
<title>酷阅小说网后台管理系统</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script type="text/javascript" src="/static/scripts/jquery/jquery-1.7.1.js"></script>
<link href="/static/style/authority/basic_layout.css" rel="stylesheet" type="text/css">
<link href="/static/style/authority/common_style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/static/scripts/authority/commonAll.js"></script>
<script type="text/javascript" src="/static/scripts/jquery/jquery-1.4.4.min.js"></script>
<script src="/static/scripts/My97DatePicker/WdatePicker.js" type="text/javascript" defer="defer"></script>
<script type="text/javascript" src="/static/scripts/artDialog/artDialog.js?skin=default"></script>
<script type="text/javascript">
	{#$(document).ready(function() {#}
	{#	/*#}
	{#	 * 提交#}
	{#	 */#}
	{#	$("#submitbutton").click(function() {#}
	{#		if(validateForm()){#}
	{#			checkFyFhSubmit();#}
	{#		}#}
	{#	});#}
	{#	#}
	{#	/*#}
	{#	 * 取消#}
	{#	 */#}
	{#	$("#cancelbutton").click(function() {#}
	{#		/**  关闭弹出iframe  **/#}
	{#		window.parent.$.fancybox.close();#}
	{#	});#}
	{#	#}
	{#	var result = 'null';#}
	{#	if(result =='success'){#}
	{#		/**  关闭弹出iframe  **/#}
	{#		window.parent.$.fancybox.close();#}
	{#	}#}
	{#});#}
	
	/** 检测房源房号是否存在  **/
	function checkFyFh(){
		// 分别获取小区编号、栋号、层号、房号
		var fyID = $('#fyID').val();
		var fyXqCode = $("#fyXq").val();
		var fyDh = $("#fyDh").val();
		var fyCh = $("#fyCh").val();	
		var fyFh = $("#fyFh").val();
		if(fyXqCode!="" && fyDh!="" && fyCh!="" && fyFh!=""){
			// 给房屋坐落地址赋值
			$("#fyZldz").val($('#fyDh option:selected').text() + fyCh + "-" + fyFh);
			// 异步判断该房室是否存在，如果已存在，给用户已提示哦
			$.ajax({
				type:"POST",
				url:"checkFyFhIsExists.action",
				data:{"fangyuanEntity.fyID":fyID,"fangyuanEntity.fyXqCode":fyXqCode, "fangyuanEntity.fyDhCode":fyDh, "fangyuanEntity.fyCh":fyCh, "fangyuanEntity.fyFh":fyFh},
				dataType : "text",
				success:function(data){
// 					alert(data);
					// 如果返回数据不为空，更改“房源信息”
					if(data=="1"){
						 art.dialog({icon:'error', title:'友情提示', drag:false, resize:false, content:'该房室在系统中已经存在哦，\n请维护其他房室数据', ok:true,});
						 $("#fyFh").css("background", "#EEE");
						 $("#fyFh").focus();
						 return false;
					}
				}
			});
		}
	}
	
	/** 检测房源房号是否存在并提交form  **/
	function checkFyFhSubmit(){
		// 分别获取小区编号、栋号、层号、房号
		var fyID = $('#fyID').val();
		var fyXqCode = $("#fyXq").val();
		var fyDh = $("#fyDh").val();
		var fyCh = $("#fyCh").val();	
		var fyFh = $("#fyFh").val();
		if(fyXqCode!="" && fyDh!="" && fyCh!="" && fyFh!=""){
			// 给房屋坐落地址赋值
			$("#fyZldz").val($('#fyDh option:selected').text()  + fyCh + "-" + fyFh);
			// 异步判断该房室是否存在，如果已存在，给用户已提示哦
			$.ajax({
				type:"POST",
				url:"checkFyFhIsExists.action",
				data:{"fangyuanEntity.fyID":fyID,"fangyuanEntity.fyXqCode":fyXqCode, "fangyuanEntity.fyDhCode":fyDh, "fangyuanEntity.fyCh":fyCh, "fangyuanEntity.fyFh":fyFh},
				dataType : "text",
				success:function(data){
// 					alert(data);
					// 如果返回数据不为空，更改“房源信息”
					if(data=="1"){
						 art.dialog({icon:'error', title:'友情提示', drag:false, resize:false, content:'该房室在系统中已经存在哦，\n请维护其他房室数据', ok:true,});
						 $("#fyFh").css("background", "#EEE");
						 $("#fyFh").focus();
						 return false;
					}else{
						$("#submitForm").attr("action", "/xngzf/archives/saveOrUpdateFangyuan.action").submit();
					}
				}
			});
		}
		return true;
	}
	
	/** 表单验证  **/
	function validateForm(){
		if($("#fyXqName").val()==""){
			art.dialog({icon:'error', title:'友情提示', drag:false, resize:false, content:'填写房源小区', ok:true,});
			return false;
		}
		if($("#fyDh").val()==""){
			art.dialog({icon:'error', title:'友情提示', drag:false, resize:false, content:'填写房源栋号', ok:true,});
			return false;
		}
		if($("#fyCh").val()==""){
			art.dialog({icon:'error', title:'友情提示', drag:false, resize:false, content:'填写房源层号', ok:true,});
			return false;
		}
		if($("#fyFh").val()==""){
			art.dialog({icon:'error', title:'友情提示', drag:false, resize:false, content:'填写房源房号', ok:true,});
			return false;
		}
		if($("#fyZongMj").val()==""){
			art.dialog({icon:'error', title:'友情提示', drag:false, resize:false, content:'填写房源面积', ok:true,});
			return false;
		}
		if($("#fyJizuMj").val()==""){
			art.dialog({icon:'error', title:'友情提示', drag:false, resize:false, content:'填写计租面积', ok:true,});
			return false;
		}
		if($("#fyZldz").val()==""){
			art.dialog({icon:'error', title:'友情提示', drag:false, resize:false, content:'填写房源座落地址', ok:true,});
			return false;
		}
		return true;
	}
</script>
</head>
<body>
{% if id %}
<form id="submitForm" name="submitForm" action="/update/?fyID={{ id }}" method="post">
	<input type="hidden" name="fyID" value="14458625716623" id="fyID"/>
	<div id="container">
		<div id="nav_links">
			当前位置：基础数据&nbsp;>&nbsp;<span style="color: #1A5CC6;">书籍编辑</span>
		</div>

        <span>章节内容：</span>
        <div style="margin-left: 60px">
           <textarea rows="25" cols="80" name="content">{{ content.chapter_content }}</textarea>
        </div>
        <div style="margin-left: 60px;margin-top:10px">
        <td class="ui_text_lt">
            &nbsp;<input type="submit" value="提交" onclick="refresh()" class="ui_input_btn01"/>
            &nbsp;<input id="cancelbutton" type="button" onclick="refresh()" value="取消" class="ui_input_btn01"/>
        </td>
        </div>
	</div>
</form>
{% elif au_id %}
<form id="submitForm" name="submitForm" action="/update/?auID={{ au_id }}" method="post">
	<input type="hidden" name="fyID" value="14458625716623" id="fyID"/>
	<div id="container">
		<div id="nav_links">
			当前位置：基础数据&nbsp;>&nbsp;<span style="color: #1A5CC6;">作者简介编辑</span>
		</div>
        <span>作者简介：</span>
        <div style="margin-left: 60px">
           <textarea rows="25" cols="80" name="content">{{ author.user_introduction }}</textarea>
        </div>
        <div style="margin-left: 60px;margin-top:10px">
        <td class="ui_text_lt">
            &nbsp;<input type="submit" value="提交" onclick="refresh()" class="ui_input_btn01"/>
            &nbsp;<input id="cancelbutton" type="button" onclick="refresh()" value="取消" class="ui_input_btn01"/>
        </td>
        </div>

	</div>
</form>
{% elif ad_id %}
<form id="submitForm" name="submitForm" action="/update/?adID={{ ad_id }}" method="post">
	<input type="hidden" name="fyID" value="14458625716623" id="fyID"/>
	<div id="container">
		<div id="nav_links">
			当前位置：基础数据&nbsp;>&nbsp;<span style="color: #1A5CC6;">地址编辑</span>
		</div>
        <span>地址：</span>
        <div style="margin-left: 60px">
           <textarea rows="25" cols="80" name="content">{{ address.user_address}}</textarea>
        </div>
        <div style="margin-left: 60px;margin-top:10px">
        <td class="ui_text_lt">
            &nbsp;<input type="submit" value="提交" onclick="refresh()" class="ui_input_btn01"/>
            &nbsp;<input id="cancelbutton" type="button" onclick="refresh()" value="取消" class="ui_input_btn01"/>
        </td>
        </div>

	</div>
</form>
{% elif boif_id %}
<form id="submitForm" name="submitForm" action="/update/?boifID={{ boif_id }}" method="post">
	<input type="hidden" name="fyID" value="14458625716623" id="fyID"/>
	<div id="container">
		<div id="nav_links">
			当前位置：基础数据&nbsp;>&nbsp;<span style="color: #1A5CC6;">书籍简介编辑</span>
		</div>
        <span>书籍简介：</span>
        <div style="margin-left: 60px">
           <textarea rows="25" cols="80" name="content">{{ intro.book_introduction}}</textarea>
        </div>
        <div style="margin-left: 60px;margin-top:10px">
        <td class="ui_text_lt">
            &nbsp;<input type="submit" value="提交" onclick="refresh()" class="ui_input_btn01"/>
            &nbsp;<input id="cancelbutton" type="button" onclick="refresh()" value="取消" class="ui_input_btn01"/>
        </td>
        </div>

	</div>
</form>

{% elif chap_id %}
<form id="submitForm" name="submitForm" action="/update/?chapID={{ chap_id }}" method="post">
	<input type="hidden" name="fyID" value="14458625716623" id="fyID"/>
	<div id="container">
		<div id="nav_links">
			当前位置：基础数据&nbsp;>&nbsp;<span style="color: #1A5CC6;">章节信息编辑</span>
		</div>
        <span>章节信息：</span>
        <div style="margin-left: 60px">
           <textarea rows="25" cols="80" name="content">{{ chap_content.chapter_content}}</textarea>
        </div>
        <div style="margin-left: 60px;margin-top:10px">
        <td class="ui_text_lt">
            &nbsp;<input type="submit" value="提交" onclick="refresh()" class="ui_input_btn01"/>
            &nbsp;<input id="cancelbutton" type="button" onclick="refresh()" value="取消" class="ui_input_btn01"/>
        </td>
        </div>

	</div>
</form>

{% endif %}
</body>
<script type="text/javascript">
    function refresh() {
            parent.location.reload()

        }

</script>
</html>