<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>原创风云榜</title>
    <link rel="stylesheet" href="../static/css/ranking_list2.css">
</head>
<body>
<div id="container">
    <header>
        <iframe src="/Header/" width="1200px" frameborder="0" height="123.5px"></iframe>
    </header>
    <div id="hot_list">
        <div id="hot_list_title">
            <h3>人气榜单</h3>
            <img src="../static/image/sc6_ma.png" alt="">
        </div>
        <hr>
        <div id="hot_list_container">
            <h3>热门作品排行</h3>
            <ul>
                <a href="/ranking2/"><li>人气榜</li></a>
                <a href="/ranking2/"><li>热销榜</li></a>
                <a href="/ranking2/"><li>推荐票榜</li></a>
                <a href="/ranking2/"><li>字数榜</li></a>
            </ul>
            <hr style="border: 0.3px dashed grey">
            <h3>其他排行</h3>
            <ul>
                <a href="/ranking2/"><li>玄幻人气榜</li></a>
                <a href="/ranking2/"><li>奇幻人气榜</li></a>
                <a href="/ranking2/"><li>武侠人气榜</li></a>
                <a href="/ranking2/"><li>仙侠人气榜</li></a>
                <a href="/ranking2/"><li>都市人气榜</li></a>
                <a href="/ranking2/"><li>现实人气榜</li></a>
                <a href="/ranking2/"><li>军事人气榜</li></a>
                <a href="/ranking2/"><li>历史人气榜</li></a>
                <a href="/ranking2/"><li>游戏人气榜</li></a>
                <a href="/ranking2/"><li>体育人气榜</li></a>
                <a href="/ranking2/"><li>科幻人气榜</li></a>
                <a href="/ranking2/"><li>灵异人气榜</li></a>
            </ul>

        </div>
        <hr>
    </div>
    <div id="info">
        <div id="info_title">
            <h1>人气榜<span>当月作品点击数排行</span></h1>
            <hr>
        </div>
        <div id="info_container">
            <ul>
                <li>
                    <div>
                        <a href="/Details/"><img src="../static/image/pic1.jpg" alt=""></a>
                    </div>
                    <div class="info_container_info">
                        <a href="/Details/" style="text-decoration: none"><h4>大王饶命</h4></a>
                        <p class="author">
                            <a>会说话的肘子</a>
                            <em>|</em>
                            <a>都市</a>
                            <em>|</em>
                            <span>连载</span>
                        </p>
                        <p class="intro">
                            高中生吕树在一场车祸中改变人生，当灵气复苏时代来袭，他要做这时代的领跑者。物竞天择，胜者为王。……全订验证群号：696087569
                        </p>
                    </div>
                    <div class="bookbox">
                        <div class="count">
                            <p>106093<span>月票</span></p>
                        </div>
                        <div class="button">
                            <div class="redbutton"><p><a href="">书籍详情</a></p></div>
                            <div class="bluebutton"><p><a href="">加入书架</a></p></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="../static/image/pic1.jpg" alt="">
                    </div>
                    <div class="info_container_info">
                        <h4>大王饶命</h4>
                        <p class="author">
                            <a>会说话的肘子</a>
                            <em>|</em>
                            <a>都市</a>
                            <em>|</em>
                            <span>连载</span>
                        </p>
                        <p class="intro">
                            高中生吕树在一场车祸中改变人生，当灵气复苏时代来袭，他要做这时代的领跑者。物竞天择，胜者为王。……全订验证群号：696087569
                        </p>
                    </div>
                    <div class="bookbox">
                        <div class="count">
                            <p>106093<span>月票</span></p>
                        </div>
                        <div class="button">
                            <div class="redbutton"><p><a href="">书籍详情</a></p></div>
                            <div class="bluebutton"><p><a href="">加入书架</a></p></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="../static/image/pic1.jpg" alt="">
                    </div>
                    <div class="info_container_info">
                        <h4>大王饶命</h4>
                        <p class="author">
                            <a>会说话的肘子</a>
                            <em>|</em>
                            <a>都市</a>
                            <em>|</em>
                            <span>连载</span>
                        </p>
                        <p class="intro">
                            高中生吕树在一场车祸中改变人生，当灵气复苏时代来袭，他要做这时代的领跑者。物竞天择，胜者为王。……全订验证群号：696087569
                        </p>
                    </div>
                    <div class="bookbox">
                        <div class="count">
                            <p>106093<span>月票</span></p>
                        </div>
                        <div class="button">
                            <div class="redbutton"><p><a href="">书籍详情</a></p></div>
                            <div class="bluebutton"><p><a href="">加入书架</a></p></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="../static/image/pic1.jpg" alt="">
                    </div>
                    <div class="info_container_info">
                        <h4>大王饶命</h4>
                        <p class="author">
                            <a>会说话的肘子</a>
                            <em>|</em>
                            <a>都市</a>
                            <em>|</em>
                            <span>连载</span>
                        </p>
                        <p class="intro">
                            高中生吕树在一场车祸中改变人生，当灵气复苏时代来袭，他要做这时代的领跑者。物竞天择，胜者为王。……全订验证群号：696087569
                        </p>
                    </div>
                    <div class="bookbox">
                        <div class="count">
                            <p>106093<span>月票</span></p>
                        </div>
                        <div class="button">
                            <div class="redbutton"><p><a href="">书籍详情</a></p></div>
                            <div class="bluebutton"><p><a href="">加入书架</a></p></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="../static/image/pic1.jpg" alt="">
                    </div>
                    <div class="info_container_info">
                        <h4>大王饶命</h4>
                        <p class="author">
                            <a>会说话的肘子</a>
                            <em>|</em>
                            <a>都市</a>
                            <em>|</em>
                            <span>连载</span>
                        </p>
                        <p class="intro">
                            高中生吕树在一场车祸中改变人生，当灵气复苏时代来袭，他要做这时代的领跑者。物竞天择，胜者为王。……全订验证群号：696087569
                        </p>
                    </div>
                    <div class="bookbox">
                        <div class="count">
                            <p>106093<span>月票</span></p>
                        </div>
                        <div class="button">
                            <div class="redbutton"><p><a href="">书籍详情</a></p></div>
                            <div class="bluebutton"><p><a href="">加入书架</a></p></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="../static/image/pic1.jpg" alt="">
                    </div>
                    <div class="info_container_info">
                        <h4>大王饶命</h4>
                        <p class="author">
                            <a>会说话的肘子</a>
                            <em>|</em>
                            <a>都市</a>
                            <em>|</em>
                            <span>连载</span>
                        </p>
                        <p class="intro">
                            高中生吕树在一场车祸中改变人生，当灵气复苏时代来袭，他要做这时代的领跑者。物竞天择，胜者为王。……全订验证群号：696087569
                        </p>
                    </div>
                    <div class="bookbox">
                        <div class="count">
                            <p>106093<span>月票</span></p>
                        </div>
                        <div class="button">
                            <div class="redbutton"><p><a href="">书籍详情</a></p></div>
                            <div class="bluebutton"><p><a href="">加入书架</a></p></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="../static/image/pic1.jpg" alt="">
                    </div>
                    <div class="info_container_info">
                        <h4>大王饶命</h4>
                        <p class="author">
                            <a>会说话的肘子</a>
                            <em>|</em>
                            <a>都市</a>
                            <em>|</em>
                            <span>连载</span>
                        </p>
                        <p class="intro">
                            高中生吕树在一场车祸中改变人生，当灵气复苏时代来袭，他要做这时代的领跑者。物竞天择，胜者为王。……全订验证群号：696087569
                        </p>
                    </div>
                    <div class="bookbox">
                        <div class="count">
                            <p>106093<span>月票</span></p>
                        </div>
                        <div class="button">
                            <div class="redbutton"><p><a href="">书籍详情</a></p></div>
                            <div class="bluebutton"><p><a href="">加入书架</a></p></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="../static/image/pic1.jpg" alt="">
                    </div>
                    <div class="info_container_info">
                        <h4>大王饶命</h4>
                        <p class="author">
                            <a>会说话的肘子</a>
                            <em>|</em>
                            <a>都市</a>
                            <em>|</em>
                            <span>连载</span>
                        </p>
                        <p class="intro">
                            高中生吕树在一场车祸中改变人生，当灵气复苏时代来袭，他要做这时代的领跑者。物竞天择，胜者为王。……全订验证群号：696087569
                        </p>
                    </div>
                    <div class="bookbox">
                        <div class="count">
                            <p>106093<span>月票</span></p>
                        </div>
                        <div class="button">
                            <div class="redbutton"><p><a href="">书籍详情</a></p></div>
                            <div class="bluebutton"><p><a href="">加入书架</a></p></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="../static/image/pic1.jpg" alt="">
                    </div>
                    <div class="info_container_info">
                        <h4>大王饶命</h4>
                        <p class="author">
                            <a>会说话的肘子</a>
                            <em>|</em>
                            <a>都市</a>
                            <em>|</em>
                            <span>连载</span>
                        </p>
                        <p class="intro">
                            高中生吕树在一场车祸中改变人生，当灵气复苏时代来袭，他要做这时代的领跑者。物竞天择，胜者为王。……全订验证群号：696087569
                        </p>
                    </div>
                    <div class="bookbox">
                        <div class="count">
                            <p>106093<span>月票</span></p>
                        </div>
                        <div class="button">
                            <div class="redbutton"><p><a href="">书籍详情</a></p></div>
                            <div class="bluebutton"><p><a href="">加入书架</a></p></div>
                        </div>
                    </div>
                </li>
                <li style="border-bottom: white">
                    <div>
                        <img src="../static/image/pic1.jpg" alt="">
                    </div>
                    <div class="info_container_info">
                        <h4>大王饶命</h4>
                        <p class="author">
                            <a>会说话的肘子</a>
                            <em>|</em>
                            <a>都市</a>
                            <em>|</em>
                            <span>连载</span>
                        </p>
                        <p class="intro">
                            高中生吕树在一场车祸中改变人生，当灵气复苏时代来袭，他要做这时代的领跑者。物竞天择，胜者为王。……全订验证群号：696087569
                        </p>
                    </div>
                    <div class="bookbox">
                        <div class="count">
                            <p>106093<span>月票</span></p>
                        </div>
                        <div class="button">
                            <div class="redbutton"><p><a href="">书籍详情</a></p></div>
                            <div class="bluebutton"><p><a href="">加入书架</a></p></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div style="display: flex;margin-left: 400px" id="pagebox">
        {% if sid != 1 %}
            <div class="page" style="margin-left: 50px;width:70px;height: 30px;background: white;border-radius:50px;border:1px solid #cacaca;">
                <a href="/ranking2/?sid={{ sid }},snum={{ -1 }}"><p style='margin: 7px;margin-left:14px'>上一页</p></a>
            </div>
        {% endif %}
        {% if z == 2 or z == 3 %}
            <div class="page" style="margin-left: 15px;width: 30px;height: 30px;background: white;border-radius:50px;border:1px solid #cacaca;font-size: 20px;">
                <a href="/ranking2/?sid={{ m }},snum={{ 0 }}"><p style='margin: 5px;margin-left:9px'>{{ m }}</p></a>
            </div>
            <div><p style="margin-top: 10px;margin-left: 10px">......</p></div>
        {% endif %}
        {% for i in list1 %}
            <b><div class="page" style="margin-left: 15px;width: 30px;height: 30px;background: white;border-radius:50px;border:1px solid #cacaca;font-size: 20px;">
                <a href="/ranking2/?sid={{ i }},snum={{ 0 }}"><p style='margin: 5px;margin-left:9px'>{{ i }}</p></a>
            </div></b>
        {% endfor %}
        {% if z == 1 or z == 3%}
            <div><p style="margin-top: 10px;margin-left: 10px">......</p></div>
            <div class="page" style="margin-left: 15px;width: 30px;height: 30px;background: white;border-radius:50px;border:1px solid #cacaca;font-size: 20px;">
                <a href="/ranking2/?sid={{ n }},snum={{ 0 }}"><p style='margin: 5px;margin-left:9px'>{{ n }}</p></a>
            </div>
        {% endif %}
        {% for i in result %}
            <div>{{ i }}</div>
        {% endfor %}
        {% if sid != length %}
            <div class="page" style="margin-left: 50px;width: 70px;height: 30px;background: white;border-radius:50px;border:1px solid #cacaca;">
                <a href="/ranking2/?sid={{ sid }},snum={{ 1 }}"><p style='margin: 7px;margin-left:14px'>下一页</p></a>
            </div>
        {% endif %}
        <div style="margin: 5px;">
            <form action="/ranking2/" method="post" style="display: flex">
                <input type="text" style="width: 40px;margin-right: 10px" name="sid"  AUTOCOMPLETE="off">
                <input id='jump'type="submit" value="跳转">
            </form>
        </div>
    </div>
</div>
</body>
    <script src="../static/js/jquery-1.8.3.min.js"></script>
    <script src="js/jquery.page.js"></script>
</html>