<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../static/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/Write_book.css">
</head>
<body>
<div class="container">
    <header>
        <iframe src="/Header/" width="1200px" FrameBorder="0" height="135px"></iframe>
    </header>

    <div id="content" style="margin-left: 20px">
        <form action="" method="post" enctype="multipart/form-data">
            <div style="">
                <span>小说封面：</span>
                <img width="150px" height="150">
                <input id="imageInput" name="img" type="file"/>
            </div>
            <div>
                <span>小说名字</span>
                <input type="text"/>
            </div>
            <div>
                <span>小说类别</span>
                <input type="text"/>
            </div>
        </form>
    </div>
</div>

</body>
</html>